body {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
li:hover {
  background-color: black;
}

.navlinks {
  background-color: lightsteelblue;
  color: navy;
  text-align: center;
  font-size: 1.2rem;
}

.imagebanner {
  background-image: url("images/imagebanner.png");
  padding: 50px 0;
  background-size: cover;
}

h2 {
  text-align: center;
  color: white;
}

.introduction {
  text-align: center;
  color: gray;
  font-size: 1.5rem;
}

.ourgames {
  text-align: center;
  margin: 32px;
  font-family: Verdana;
}

#minecraftimage {
  width: 200px;
  height: 200px;
}
#cobaltimage {
  width: 250px;
  height: 200px;
}
#minicraftimage {
  width: 400px;
  height: 200px;
}

@media screen and (min-width: 700px) {
  ul {
    text-align: right;
  }
  li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
  }
  .game {
    display: inline-block;
    vertical-align: top;
  }
}
